<div ng-repeat="package in vm.packageinfo">
  <h1>{{package.service}}</h1>
  <h2 ng-if="package.delivered">DELIVERED!!!</h2>
  <h3>{{package.from}}</h3>
  <h4 ng-if="package.shippingTo">
    Destination: {{package.shippingTo}}  From: {{package.shippingFrom}}
  </h4>
  <h3>Location: {{package.currentLocation}}</h3>
  <h3 ng-if="package.deliveryDate">
      Delivery Date: {{package.deliveryDate}}
  </h3>
  <h3>Progress</h3>
  <div ng-if="package.service === 'UPS'" ng-repeat="stop in package.progress">
      <div>
        <span>{{stop.Status[0].StatusType[0].Description[0]}} | {{stop.Date[0]}} @ {{stop.Time[0]}}</span>

      </div>
      </br>
  </div>

  <div ng-if="package.service === 'USPS'" ng-repeat="stop in package.progress">
      <div>
        {{stop}}
      </div>
      </br>
  </div>

  <br/>
  <br/>
  <br/>
</div>
