<div class="login-header">
  <img ng-click="vm.refresh()" ng-src="/img/refresh.png" id="refresh"/>
</div>
<div class="package-container">
  <table>
    <tr ng-repeat="packagedata in vm.packageinfo" class="package-row">
      <td class="package-status">
        <package-delivery package-data="packagedata"></package-delivery>
      </td>
      <td class="package-info">
        <h5>{{packagedata.from}}</h5>
        <h6>
          From: {{packagedata.shippingFrom}}
        </h6>
        <h6 ng-if="packagedata.shippingTo">
          Destination: {{packagedata.shippingTo}}
        </h6>
        <h6>Location: {{packagedata.currentLocation}}</h6>
      </td>
      <td class="package-service">
        <img ng-if="packagedata.service === 'UPS'" ng-src="/img/ups.png" class="ups-img"/>
        <img ng-if="packagedata.service === 'USPS'" ng-src="/img/usps.png" class="usps-img"/>
      </td>
    </tr>
  </table>
</div>
